version: '3.8'
services:
  backend:
    build: ./backend
    ports: 
      - "3000:3000"
    env_file:
      - .env
    restart: always
  
  # traffic police
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./infra/nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
    restart: always
